{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "kubernetes-replicator.serviceAccountName" . }}
  namespace: {{ include "kubernetes-replicator.namespace" . }}
  labels:
    {{- include "kubernetes-replicator.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
automountServiceAccountToken: {{ .Values.serviceAccount.automountServiceAccountToken }}
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ include "kubernetes-replicator.fullname" . }}
  labels:
    {{- include "kubernetes-replicator.labels" . | nindent 4 }}
rules:
  - apiGroups:
    - ""
    resources:
    - namespaces
    verbs: {{ .Values.namespacesPrivileges | toYaml | nindent 4 }}
{{ with .Values.replicationEnabled }}
{{- if or .secrets .configMaps .serviceAccounts }}
  - apiGroups:
    - ""
    resources:
{{- if .secrets }}
    - secrets
{{- end }}
{{- if .configMaps }}
    - configmaps
{{- end }}
{{- if .serviceAccounts }}
    - serviceaccounts
{{- end }}
    verbs:  {{ .privileges | toYaml | nindent 4 }}
{{- end }}
{{- if or .roles .roleBindings }}
  - apiGroups:
    - rbac.authorization.k8s.io
    resources:
{{- if .roles }}
    - roles
{{- end }}
{{- if .roleBindings }}
    - rolebindings
{{- end }}
    verbs:  {{ .rolesPrivileges | toYaml | nindent 4 }}
{{- end }}
{{- end }}
{{- range .Values.serviceAccount.privileges }}
  - apiGroups: {{ .apiGroups | toYaml | nindent 4 }}
    resources: {{ .resources | toYaml | nindent 4 }}
    verbs: {{ .privileges | toYaml | nindent 4 }}
{{- end }}
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ include "kubernetes-replicator.fullname" . }}
  labels:
    {{- include "kubernetes-replicator.labels" . | nindent 4 }}
roleRef:
  kind: ClusterRole
  name: {{ include "kubernetes-replicator.roleName" . }}
  apiGroup: rbac.authorization.k8s.io
subjects:
  - kind: ServiceAccount
    name: {{ include "kubernetes-replicator.serviceAccountName" . }}
    namespace: {{ include "kubernetes-replicator.namespace" . }}
{{- end -}}
