name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Build and release image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - run: docker login -u "${{ secrets.QUAY_IO_USER }}" -p "${{ secrets.QUAY_IO_TOKEN }}" quay.io

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.24.13"

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: "0.181.1"
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_USER_TOKEN }}

  bump-version:
    name: Bump app version in Helm chart
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Bump chart version
        uses: mittwald/bump-app-version-action@v1
        with:
          mode: 'publish'
          chartYaml: './deploy/helm-chart/kubernetes-replicator/Chart.yaml'
        env:
          GITHUB_TOKEN: "${{ secrets.RELEASE_USER_TOKEN }}"
          HELM_REPO_PASSWORD: "${{ secrets.HELM_REPO_PASSWORD }}"

  publish-helm-chart:
    name: Publish Helm chart to GHCR
    runs-on: ubuntu-latest
    needs: bump-version
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v2
        with:
          ref: master

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: 'latest'

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | helm registry login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Package Helm chart
        run: |
          helm package deploy/helm-chart/kubernetes-replicator

      - name: Push Helm chart to GHCR
        run: |
          CHART_VERSION=$(helm show chart deploy/helm-chart/kubernetes-replicator | grep '^version:' | awk '{print $2}')
          helm push kubernetes-replicator-${CHART_VERSION}.tgz oci://ghcr.io/${{ github.repository_owner }}/charts
